{% extends 'layout.html' %}

{% block title %}Register{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{url_for('static', filename='css/styles-contact.css')}}">

<article>
    <section>
        <h1><span>Registrate</span></h1>
        <div class="contact">
            <form action="" method="POST">
                <input class="formularios" name="fullname" type="text" id="name" placeholder="Nombre de usuario">
                <input class="formularios" type="email" id="email" placeholder="Correo electronico">
                <input class="formularios" name="email" type="email" id="email" placeholder="Confirme su correo electronico">
                <input name="password" type="password" id="password" placeholder="Contraseña">
                <button>Enviar</button>
            </form>
        </div>
    </section>
</article>

{% endblock %}